postgresqlImage:
  tag: "10"

pgpoolImage:
  tag: "4"

global:
  storageClass: {{ awx_storageclass | default("rbd-sc") }}
  postgresql:
    username: "{{ pg_username }}"
    password: "{{ pg_password }}"

postgresql:
  database: {{ pg_database }}
  replicaCount: 2

pgpool:
  useLoadBalancing: false

service:
  type: ClusterIP
